<div id="installations-page">

    <div class="quote">
        Our clients can expect a collaborative team of experienced professionals committed to achieving their specific goals.
    </div>

    <div class="slide-show-container">
        <div class="slide-show">
            <!-- new images -->
            <img class="slide-image" src="./img/slide-show/corporate/04.png">
            <img class="slide-image" src="./img/slide-show/corporate/08.png">
            <img class="slide-image" src="./img/slide-show/corporate/11.png">
            <img class="slide-image" src="./img/slide-show/corporate/12.png">
            <img class="slide-image" src="./img/slide-show/corporate/13.png">
            <img class="slide-image" src="./img/slide-show/corporate/19.png">
            <!-- old images -->
            <img class="slide-image" src="./img/slide-show/corporate/01.png">
            <img class="slide-image" src="./img/slide-show/corporate/02.png">
            <img class="slide-image" src="./img/slide-show/corporate/03.png">
            <img class="slide-image" src="./img/slide-show/corporate/05.png">
            <img class="slide-image" src="./img/slide-show/corporate/06.png">
            <img class="slide-image" src="./img/slide-show/corporate/07.png">
            <img class="slide-image" src="./img/slide-show/corporate/09.png">
            <img class="slide-image" src="./img/slide-show/corporate/10.png">
            <img class="slide-image" src="./img/slide-show/corporate/14.png">
            <img class="slide-image" src="./img/slide-show/corporate/15.png">
            <img class="slide-image" src="./img/slide-show/corporate/16.png">
            <img class="slide-image" src="./img/slide-show/corporate/17.png">
            <img class="slide-image" src="./img/slide-show/corporate/18.png">
            <img class="slide-image" src="./img/slide-show/corporate/20.png">
            <img class="slide-image" src="./img/slide-show/corporate/21.png">
            <img class="slide-image" src="./img/slide-show/corporate/22.png">
            <img class="slide-image" src="./img/slide-show/corporate/23.png">
            <!-- <img class="slide-image" src="./img/slide-show/corporate/24.png"> -->
            <!-- <img class="slide-image" src="./img/slide-show/corporate/25.png"> -->
            <!-- <img class="slide-image" src="./img/slide-show/corporate/26.png"> -->
            <img class="slide-image" src="./img/slide-show/corporate/27.png">
            <!-- <img class="slide-image" src="./img/slide-show/corporate/28.png"> -->
            <img class="slide-image" src="./img/slide-show/corporate/29.png">
            <!-- <img class="slide-image" src="./img/slide-show/corporate/30.png"> -->
            <img class="slide-image" src="./img/slide-show/corporate/31.png">
            <img class="slide-image" src="./img/slide-show/corporate/32.png">
            <img class="slide-image" src="./img/slide-show/corporate/33.png">
            <!-- <img class="slide-image" src="./img/slide-show/corporate/34.png"> -->
            <!-- <img class="slide-image" src="./img/slide-show/corporate/35.png"> -->
            <img class="slide-image" src="./img/slide-show/corporate/36.png">
            <img class="slide-image" src="./img/slide-show/corporate/37.png">
            <img class="slide-image" src="./img/slide-show/corporate/38.png">
            <img class="slide-image" src="./img/slide-show/corporate/39.png">
            <img class="slide-image" src="./img/slide-show/corporate/40.png">
            <img class="slide-image" src="./img/slide-show/corporate/41.png">
            <img class="slide-image" src="./img/slide-show/corporate/42.png">
            <!-- <img class="slide-image" src="./img/slide-show/corporate/43.png"> -->
            <img class="slide-image" src="./img/slide-show/corporate/44.png">
            <img class="slide-image" src="./img/slide-show/corporate/45.png">
            <img class="slide-image" src="./img/slide-show/corporate/46.png">
            <!-- <img class="slide-image" src="./img/slide-show/corporate/47.png"> -->
            <!-- <img class="slide-image" src="./img/slide-show/corporate/48.png"> -->
            <!-- <img class="slide-image" src="./img/slide-show/corporate/49.png"> -->
            <!-- <img class="slide-image" src="./img/slide-show/corporate/50.png"> -->
            <!-- <img class="slide-image" src="./img/slide-show/corporate/51.png"> -->
            <!-- <img class="slide-image" src="./img/slide-show/corporate/52.png"> -->
            <img class="slide-image" src="./img/slide-show/corporate/53.png">
            <!-- <img class="slide-image" src="./img/slide-show/corporate/54.png"> -->
            <!-- <img class="slide-image" src="./img/slide-show/corporate/55.png"> -->
            <img class="slide-image" src="./img/slide-show/corporate/56.png">
            <img class="slide-image" src="./img/slide-show/corporate/57.png">
            <img class="slide-image" src="./img/slide-show/corporate/58.png">
            <img class="slide-image" src="./img/slide-show/corporate/59.png">
            <!-- <img class="slide-image" src="./img/slide-show/corporate/60.png"> -->
            <img class="slide-image" src="./img/slide-show/corporate/61.png">
            <!-- <img class="slide-image" src="./img/slide-show/corporate/62.png"> -->
            <!-- <img class="slide-image" src="./img/slide-show/corporate/63.png"> -->
            <!-- <img class="slide-image" src="./img/slide-show/corporate/64.png"> -->
            <img class="slide-image" src="./img/slide-show/corporate/65.png">
            <img class="slide-image" src="./img/slide-show/corporate/66.png">
            <img class="slide-image" src="./img/slide-show/corporate/67.png">
            <img class="slide-image" src="./img/slide-show/corporate/68.png">
            <img class="slide-image" src="./img/slide-show/corporate/69.png">
            <img class="slide-image" src="./img/slide-show/corporate/70.png">
            <!-- <img class="slide-image" src="./img/slide-show/corporate/71.png"> -->
            <img class="slide-image" src="./img/slide-show/corporate/72.png">
            <!-- <img class="slide-image" src="./img/slide-show/corporate/73.png"> -->
            <!-- <img class="slide-image" src="./img/slide-show/corporate/74.png"> -->
            <!-- <img class="slide-image" src="./img/slide-show/corporate/75.png"> -->
            <!-- <img class="slide-image" src="./img/slide-show/corporate/76.png"> -->
            <img class="slide-image" src="./img/slide-show/corporate/77.png">
            <!-- <img class="slide-image" src="./img/slide-show/corporate/78.png"> -->
        </div>
    </div>

    <!-- <div class="text">
        <p>
          artstudio101 understands the power of healing art and our consultants specialize in healthcare, creating a custom environment for each client to meet their specific artwork needs. our goal is to promote a thoughtful approach that can tell a story from piece to piece, define way finding images for memory, create distraction from pain and give harmony to the beholder.
        </p>
    </div> -->

    <script>
        $(document).ready(function(){
            $('.slide-show').slick({
                prevArrow: '<div class="prevArrow"></div>',
                nextArrow: '<div class="nextArrow"></div>',
                adaptiveHeight: true
            });
        });
    </script>

</div>
