<div id="home-page">
  <div class="btn-container">
    <a href="new-artists.php" class="new-artists-btn">
      See New Works
    </a>
  </div>

  <div class="slide-show-one">
    <div class="img">
      <img src="./img/frontPageArt/1.png" />
      P. Pierme
    </div>
    <div class="img">
      <img src="./img/frontPageArt/2.png" />
      Pezman
    </div>
    <div class="img">
      <img src="./img/frontPageArt/3.png" />
      G. Miamee
    </div>
    <div class="img">
      <img src="./img/frontPageArt/4.png" />
      M. Stone
    </div>
    <div class="img">
      <img src="./img/frontPageArt/5.png" />
      M. Quen
    </div>
    <div class="img">
      <img src="./img/frontPageArt/6.png" />
      G. Benjamin
    </div>
    <div class="img">
      <img src="./img/frontPageArt/7.png" />
      R. Charon
    </div>
    <div class="img">
      <img src="./img/frontPageArt/8.png" />
      M. Phillips
    </div>
    <div class="img">
      <img src="./img/frontPageArt/9.png" />
      C. Sidi
    </div>
    <div class="img">
      <img src="./img/frontPageArt/10.png" />
      J. Ardilino
    </div>
    <div class="img">
      <img src="./img/frontPageArt/11.png" />
      Prescott
    </div>
    <div class="img">
      <img src="./img/frontPageArt/12.png" />
      B. Boner
    </div>
    <div class="img">
      <img src="./img/frontPageArt/13.png" />
      C. Alan
    </div>
    <div class="img">
      <img src="./img/frontPageArt/14.png" />
      A. Brown
    </div>
    <div class="img">
      <img src="./img/frontPageArt/15.png" />
      K. Ober
    </div>
    <div class="img">
      <img src="./img/frontPageArt/16.png" />
      C. Alan
    </div>
  </div>

</div>

<script>
    $(document).ready(function(){
        $('.slide-show-one').slick({
          slidesToShow: 1,
          slidesToScroll: 1,
          autoplay: true,
          autoplaySpeed: 2000,
          pauseOnHover: false
        });
    });
</script>
