<div id="team-page">
    <div class="quote">
      We are an experienced team of collaborative design professionals who create a unique art program for every project.
    </div>
    <div class="text">
      <div>
        <img src="img/faye.png" width="80" align="left" />
        <strong>Faye Urlacher</strong> launched artstudio 101 in 2000. Faye has over 20 years of art consulting experience. A degree in Interior Design, as well as her creativity and true passion for art, give her a unique and inspired vision for space. Faye strives to understand the individual intricacies of every project, applying her creativity, energy and keen business sense to each client’s needs. Faye is well respected for her professionalism, sincerity, talent, and extraordinary work ethic. She takes great pride in the level of service provided by artstudio 101, and fosters her relationships with clients, designers, artists and vendors.
      </div>
      <div>
        <img src="img/emily.png" width="80" align="left" />
        <strong>Emily Rademeyer</strong> joined artstudio 101 in 2005 and her role continues to evolve as we adjust to the ever changing business needs and unique circumstances of each client. She is an integral member of our team from design inception to installation, and brings her outstanding professional, client-centric approach to every aspect of every project.
      </div>
      <div>
        <img src="img/jenn.png" width="80" align="left" />
        <strong>Jennifer Conroy</strong> has been an integral part of artstudio 101 since 2001.  She brings an abundance of experience, knowledge and ingenuity to the team.  Jenn’s aptitude for creative design and business acumen, blend together to offer artstudio 101 client’s with top notch customer service. 
      </div>
      <div>
        <img src="img/sophia.png" width="80" align="left" />
        <strong>Sophia Niskanen </strong> assists on all projects in addition to managing our social media presence. She seeks out fresh art trends, and, along with the team, is always thinking creatively about upcoming projects. Her outstanding skills and willingness to go the extra mile is part of what makes each client’s artstudio 101 experience personal and unique.
      </div>
      <div>
        <img src="img/eva.png" width="80" align="left" />
        <strong>Tracy Mitchell</strong> works as a consultant for artstudio 101 to assist in building and managing client relations for our East Coast clientele. Based in Westport, CT, Tracy has an extensive background in customer service and all levels of project management. This is combined with her passion for art and a long-time relationship with artstudio 101. 
      </div>
      <div>
        <img src="img/jenn-bahr.png" width="80" align="left" />
        <strong>Jennifer Bahr</strong> recently joined artstudio 101 as office manager. In this role, Jennie's awesome organizational and business skills have quickly made her a key member of our team. Jennie is in the Studio every day helping to fulfill our ongoing commitment to quality, timeliness and efficiency.
      </div>
    </div>
</div>
